[runtime]
environment="development"

[server]
host="127.0.0.1"
port="3000"


[database]
host="127.0.0.1"
port="5432"
user="postgres"
password=""
dbname=""
migrationDir="migrations/sql"
sslMode="disable"
connectionTimeout="30000"
statementTimeout="30000"
idleInTransactionSessionTimeout="30000"

[csrf]
secure="false"
secret="test"
