.suez-environnement{
	background:url(../../images/86a1ed256c9bc9e0fe412b3b4d94d58e.jpg);
}
.good-co-coffee{
	background:url(../../images/2208f7a20444f6bdb03214725112c41b.jpg);
}
.flight-to-the-flats {
	background:url(../../images/67e98aa6e27ffe0a0f9463f5df443709.jpg);
}
.lamobile{
	background:url(../../images/809ecde66a044a25cae83f15d6f0a5b1.gif);
}
.sr-pao-de-queijo {
	background:url(../../images/d4522263aeacc778eb1b4e8a59da1621.png);
}
.washboard{
	background:url(../../images/washboard.jpg);
}
.anker {
	background:url(../../images/notebook.jpg);
}
.ceron {
	background:url(../../images/19f42e4b5cf25cb3086ac9c7101dfdeb.jpg)
}
.White-Built{
	background:url(../../images/White-Built-In-Bespoke-Desk.jpg)
}


.m0{
	margin: 0px;	
}
.mg30 {
margin-bottom:30px !important;
}
.nodisplay{display:none}
.uppercase{text-transform: uppercase;}
.bg_fff {
background-color:#fff!important;
}
.bg_788e3f {
background-color:#788e3f !important;
}
.bg_403224{
background-color:#403224 !important		
}
.bg_270400{
background-color:#270400 !important			
}
.bg_77cfd0{
background-color:#77cfd0 !important	
}
.bg_000{
background-color:#000 !important
}
.bg_e8e8e8{
background-color: #e8e8e8 !important;
}
.bg_cdb48c{
background-color: #cdb48c !important;
}
.bg_ebc483{
background-color:#ebc483 !important	
}
.bg_cdbf90{
background-color:#cdbf90 !important
}
.bg_ff6633{
background-color:#ff6633 !important;
}
.bg_fff0bb{
background-color:#fff0bb !important
}
.center {
text-align:center !important;
}
.text_fff{
color:#fff;
}
.text_000{
color:#000;
}
.text_403224{
color:#403224;
}
.text_270400{
color:#270400;	
}
.right {
text-align:right;
}
.justify {
text-align: justify;
}
.text_block {
margin-bottom:35px;
}